<settings>
  <proxies>
    <proxy>
      <id>http-proxy</id>
      <active>${env.MAVEN_PROXY_ACTIVE}</active>
      <protocol>http</protocol>
      <host>proxy</host>
      <port>8080</port>
      <nonProxyHosts>localhost|127.0.0.1|::1</nonProxyHosts>
    </proxy>
    <proxy>
      <id>https-proxy</id>
      <active>${env.MAVEN_PROXY_ACTIVE}</active>
      <protocol>https</protocol>
      <host>proxy</host>
      <port>8080</port>
      <nonProxyHosts>localhost|127.0.0.1|::1</nonProxyHosts>
    </proxy>
  </proxies>
</settings>
