<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.kontur.eventapi.dao.mapper.CombinedEventsMapper">
    <select id="getEventForExternalId" resultMap="combinedEventDtoMap">
        SELECT *
        FROM combined_events ce
        WHERE observation_id in (
            select observation_id
            from normalized_records
            where external_id = #{externalId}
            order by updated_on)
    </select>

    <insert id="insertEvent" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO combined_events (observation_id, type, name, description, started_on, ended_on)
        VALUES (#{observationId}, #{type}, #{name}, #{description}, #{startedOn}, #{endedOn})
    </insert>

    <update id="updateEvent">
        UPDATE combined_events
        SET observation_id=#{observationId}, type=#{type}, name=#{name}, description=#{description},
            started_on=#{startedOn}, ended_on=#{endedOn}
        WHERE id=#{id}
    </update>

    <insert id="insertEpisode" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO combined_episodes (event_id, observation_id, description, occurred_on, loaded_on, provider)
        VALUES (#{eventId}, #{observationId}, #{description}, #{occurredOn}, #{loadedOn}, #{provider})
    </insert>

    <insert id="insertArea" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO combined_areas (episode_id, severity, geometry)
        VALUES (#{episodeId}, #{severity}, 'SRID=4326;${geometry}'::geometry)
    </insert>

    <resultMap id="combinedEventDtoMap" type="io.kontur.eventapi.dto.CombinedEventDto">
        <result property="id" column="id"/>
        <result property="observationId" column="observation_id"/>
        <result property="type" column="type"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="startedOn" column="started_on"/>
        <result property="endedOn" column="ended_on"/>
    </resultMap>
</mapper>