<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.kontur.eventapi.dao.mapper.FeedEventStatusMapper">

    <insert id="markAsActual" >
        insert into feed_event_status (feed_id, event_id, actual)
        values (#{feedId}, #{eventId}, #{actual})
        on conflict (feed_id, event_id) do update set actual = #{actual}
    </insert>

    <insert id="markAsNonActual" >
        insert into feed_event_status (feed_id, event_id, actual)
        select feed_id, #{eventId}, false
        from feeds
        where providers &amp;&amp; array[#{provider}::text]
        on conflict (feed_id, event_id) do update set actual = false
    </insert>

    <insert id="markAsNonActualExcludeFeed" >
        insert into feed_event_status (feed_id, event_id, actual)
        select feed_id, #{eventId}, false
        from feeds
        where providers &amp;&amp; array[#{provider}::text]
          and alias != #{excludeAlias}
        on conflict (feed_id, event_id) do update set actual = false
    </insert>

</mapper>