<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.kontur.eventapi.dao.mapper.GeneralMapper">

    <select id="getPgSettings" resultMap="pgSettingMap">
        SELECT
               name,
               setting
        from pg_settings where category = 'Autovacuum';
    </select>

    <select id="getPgStatTables" resultMap="pgStatTableMap">
        SELECT
               relname,
               last_vacuum,
               last_autovacuum,
               last_analyze,
               last_autoanalyze,
               n_live_tup,
               n_dead_tup,
               analyze_count,
               autoanalyze_count,
               vacuum_count,
               autovacuum_count
        from pg_stat_user_tables;
    </select>

    <select id="getObservationNormalizationDuration" resultMap="processingDuration">
        with durations as (
            SELECT extract(epoch from (no.normalized_at - dl.loaded_at)::interval) as duration, normalized_at
            from data_lake dl
                inner join normalized_observations no on dl.observation_id = no.observation_id
            where no.normalized_at > #{latestNormalizedAt}
        )
        SELECT
            avg(duration) as avg,
            max(duration) as max,
            min(duration) as min,
            count(*) as count,
            max(normalized_at) as latest_processed_at
        from durations
    </select>

    <select id="getObservationsRecombinationDuration" resultMap="processingDuration">
        with durations as (
            SELECT extract(epoch from (ke.recombined_at - no.normalized_at)::interval) as duration, recombined_at
            from normalized_observations no
                inner join kontur_events ke on no.observation_id = ke.observation_id
            where ke.recombined_at > #{latestRecombinedAt}
        )
        SELECT
            avg(duration) as avg,
            max(duration) as max,
            min(duration) as min,
            count(*) as count,
            max(recombined_at) as latest_processed_at
        from durations
    </select>

    <select id="getEventCompositionDuration" resultMap="processingDuration">
        with durations as (
            SELECT extract(epoch from (fd.composed_at - fes.recombined_at)::interval) as duration, composed_at
            from feed_event_status fes
                inner join feed_data fd on fes.event_id = fd.event_id and fes.feed_id = fd.feed_id
            where fd.composed_at > #{latestComposedAt} and fd.version = 1
        )
        SELECT
            avg(duration) as avg,
            max(duration) as max,
            min(duration) as min,
            count(*) as count,
            max(composed_at) as latest_processed_at
        from durations
    </select>

    <select id="getEventEnrichmentDuration" resultMap="processingDuration">
        with durations as (
            SELECT extract(epoch from (fd.enriched_at - fd.composed_at)::interval) as duration, enriched_at
            from feed_data fd
            where fd.enriched_at is not null and fd.enriched_at > #{latestEnrichedAt} and not enrichment_skipped
        )
        SELECT
            avg(duration) as avg,
            max(duration) as max,
            min(duration) as min,
            count(*) as count,
            max(enriched_at) as latest_processed_at
        from durations
    </select>

    <resultMap id="pgStatTableMap" type="io.kontur.eventapi.entity.PgStatTable">
        <result property="tableName" column="relname" />
        <result property="lastVacuum" column="last_vacuum"/>
        <result property="lastAutoVacuum" column="last_autovacuum"/>
        <result property="lastAnalyse" column="last_analyze"/>
        <result property="lastAutoAnalyze" column="last_autoanalyze"/>
        <result property="liveTupCount" column="n_live_tup"/>
        <result property="deadTupCount" column="n_dead_tup"/>
        <result property="analyzeCount" column="analyze_count"/>
        <result property="autoAnalyzeCount" column="autoanalyze_count"/>
        <result property="vacuumCount" column="vacuum_count"/>
        <result property="autoVacuumCount" column="autovacuum_count"/>
    </resultMap>

    <resultMap id="pgSettingMap" type="io.kontur.eventapi.entity.PgSetting">
        <result property="name" column="name" />
        <result property="setting" column="setting"/>
    </resultMap>

    <resultMap id="processingDuration" type="io.kontur.eventapi.entity.ProcessingDuration">
        <result property="avg" column="avg"/>
        <result property="max" column="max"/>
        <result property="min" column="min"/>
        <result property="count" column="count"/>
        <result property="latestProcessedAt" column="latest_processed_at"/>
    </resultMap>
</mapper>