<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.kontur.eventapi.dao.mapper.KonturEventsMapper">

    <insert id="insert" useGeneratedKeys="false">
        INSERT INTO kontur_events (event_id, version, provider, observation_id)
        VALUES (#{eventId}, #{version},
                (select provider from data_lake where observation_id = #{observationId}),
                #{observationId})
    </insert>

    <select id="getLatestEventByExternalId" resultMap="konturEventDtoMap" >
        SELECT event_id, version, array_agg(observation_id)::uuid[] AS observation_ids
        FROM kontur_events
        WHERE observation_id IN (
            SELECT observation_id
            FROM normalized_observations
            WHERE external_event_id = #{externalId}
            )
        GROUP BY event_id, version
        ORDER BY version DESC
        LIMIT 1
    </select>

    <select id="getNewEventVersionsForFeed" resultMap="konturEventDtoMap">
        SELECT ke.event_id, ke.version, array_agg(ke.observation_id)::uuid[] AS observation_ids
        FROM kontur_events ke,
             feeds f
        WHERE NOT exists(SELECT 1
                         FROM feed_data fd
                         WHERE fd.event_id = ke.event_id
                           AND fd.version = ke.version)
          AND ke.provider = ANY (f.providers)
          AND f.feed_id = #{uuid}
        GROUP BY ke.event_id, ke.version
    </select>

    <select id="getEventByIdEventAndVersionAndIdObservation" resultMap="konturEventDtoMap">
        SELECT * FROM kontur_events
        WHERE event_id = #{eventId}
          AND version = #{version}
          AND observation_id = #{observationId}
    </select>

    <resultMap id="konturEventDtoMap" type="io.kontur.eventapi.entity.KonturEvent">
        <result property="eventId" column="event_id"/>
        <result property="version" column="version"/>
        <result property="observationIds" column="observation_ids" typeHandler="io.kontur.eventapi.typehandler.UUIDArrayTypeHandler"/>
    </resultMap>
</mapper>