<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.kontur.eventapi.dao.mapper.NormalizedRecordsMapper">
    <insert id="insertNormalizedRecord">
        INSERT INTO normalized_records (
        observation_id,
        provider,
        <if test='wktGeometry != null'>
            geometry,
        </if>
        app_id,
        autoexpire,
        category_id,
        charter_uri,
        comment_text,
        loaded_on,
        created_on,
        creator,
        ended_on,
        glide_uri,
        external_id,
        hazard_name,
        last_updated_on,
        <if test='point != null'>
            point,
        </if>
        master_incident_id,
        message_id,
        org_id,
        severity_id,
        snc_url,
        started_on,
        status,
        type_id,
        updated_on,
        update_user,
        product_total,
        uuid,
        in_dashboard,
        areabrief_url,
        description,
        mag_id,
        mag_uuid,
        mag_created_on,
        mag_updated_on,
        title,
        mag_type,
        is_active
        ) VALUES (
        #{observationId},
        #{provider},
        <if test='wktGeometry != null'>
            'SRID=4326;${wktGeometry}'::geometry,
        </if>
        #{appId},
        #{autoexpire},
        #{categoryId},
        #{charterUri},
        #{commentText},
        #{loadedOn},
        #{createdOn},
        #{creator},
        #{endedOn},
        #{glideUri},
        #{externalId},
        #{hazardName},
        #{lastUpdatedOn},
        <if test='point != null'>
            'SRID=4326;${point}'::geometry,
        </if>
        #{masterIncidentId},
        #{messageId},
        #{orgId},
        #{severityId},
        #{sncUrl},
        #{startedOn},
        #{status},
        #{typeId},
        #{updatedOn},
        #{updateUser},
        #{productTotal},
        #{uuid},
        #{inDashboard},
        #{areabriefUrl},
        #{description},
        #{magId},
        #{magUuid},
        #{magCreatedOn},
        #{magUpdatedOn},
        #{title},
        #{magType},
        #{isActive}
        )
    </insert>

    <select id="getEventsIds" resultType="String">
        select distinct(external_id)
        from normalized_records nr
        where not exists(select 1 from combined_episodes ce where ce.observation_id = nr.observation_id)
    </select>

    <select id="getRecordsToCombine" resultMap="normalizedRecordDtoMap">
        select st_astext(geometry) as geometry, st_astext(point) as point, *
        FROM normalized_records nr
        WHERE external_id = #{eventId}
            and not exists(select 1 from combined_episodes ce where ce.observation_id = nr.observation_id)
        ORDER BY updated_on
    </select>

    <resultMap id="normalizedRecordDtoMap" type="io.kontur.eventapi.dto.NormalizedRecordDto">
        <result property="observationId" column="observation_id"/>
        <result property="provider" column="provider"/>
        <result property="wktGeometry" column="geometry"/>
        <result property="appId" column="app_id"/>
        <result property="autoexpire" column="autoexpire"/>
        <result property="categoryId" column="category_id"/>
        <result property="charterUri" column="charter_uri"/>
        <result property="commentText" column="comment_text"/>
        <result property="loadedOn" column="loaded_On"/>
        <result property="createdOn" column="created_On"/>
        <result property="creator" column="creator"/>
        <result property="endedOn" column="ended_On"/>
        <result property="glideUri" column="glide_uri"/>
        <result property="externalId" column="external_id"/>
        <result property="hazardName" column="hazard_name"/>
        <result property="lastUpdatedOn" column="last_updated_on"/>
        <result property="point" column="point"/>
        <result property="masterIncidentId" column="master_incident_id"/>
        <result property="messageId" column="message_id"/>
        <result property="orgId" column="org_id"/>
        <result property="severityId" column="severity_id"/>
        <result property="sncUrl" column="snc_url"/>
        <result property="startedOn" column="started_on"/>
        <result property="status" column="status"/>
        <result property="typeId" column="type_id"/>
        <result property="updatedOn" column="updated_on"/>
        <result property="updateUser" column="update_user"/>
        <result property="productTotal" column="product_total"/>
        <result property="uuid" column="uuid"/>
        <result property="inDashboard" column="in_dashboard"/>
        <result property="areabriefUrl" column="areabrief_url"/>
        <result property="description" column="description"/>
        <result property="magId" column="mag_id"/>
        <result property="magUuid" column="mag_uuid"/>
        <result property="magCreatedOn" column="mag_created_on"/>
        <result property="magUpdatedOn" column="mag_updated_on"/>
        <result property="title" column="title"/>
        <result property="magType" column="mag_type"/>
        <result property="isActive" column="is_active"/>
    </resultMap>
</mapper>