server:
  servlet:
    contextPath: /events
  port: 8624
  shutdown: graceful
  jetty:
    connection-idle-timeout: 3600000

spring:
  lifecycle:
    timeout-per-shutdown-phase: 30s
  datasource:
    platform: postgres
    url: 'jdbc:postgresql://localhost:5432/postgres'
    username: postgres
    password: postgres
    hikari:
      register-mbeans: true
      pool-name: HikariPool-1
      maximum-pool-size: 50
      connection-timeout: 60000
      idle-timeout: 300000
      max-lifetime: 600000
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://keycloak01.konturlabs.com/realms/dev
          jwk-set-uri: https://keycloak01.konturlabs.com/realms/dev/protocol/openid-connect/certs
  cloud:
    discovery:
      client:
        composite-indicator:
          enabled: false
  cache:
    type: redis
  redis:
    host: localhost
    port: 6379
  liquibase:
    enabled: true
    drop-first: false
    change-log: db/changelog/db.changelog-master.yaml
    default-schema: public
  profiles:
    active: awsSqsDisabled, jwtAuthDisabled, cacheDisabled

konturApi:
  host: 'https://test-api02.konturlabs.com/'

konturApps:
  host: 'https://test-apps02.konturlabs.com/'

pdc:
  host: 'https://testdisasteraware.pdc.org'
  mapSrvHost: 'https://testapps.pdc.org'
  user: 'eventapi'
  password: 'zvgusf48D'

gdacs:
  host: 'https://www.gdacs.org'

emdat:
  user: 'username'
  password: 'password'
  host: 'https://public.emdat.be/api'

stormsNoaa:
  host: 'https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/'

staticdata:
  s3Bucket: 'event-api-locker01'
  s3Folder: 'EXP/'

humanitarianCrisis:
  s3Bucket: 'event-api-locker01'
  s3Folder: 'kontur_events/EXP/'

tornadoJapanMa:
  host: 'https://www.data.jma.go.jp/obd/stats/data/bosai/tornado/'

calfire:
  host: 'https://www.fire.ca.gov/'

nifc:
  host: 'https://services3.arcgis.com/T4QMspbfLg3qTGWY/arcgis/rest/services'

inciweb:
  host: 'https://inciweb.nwcg.gov'

nhc:
  host: 'https://www.nhc.noaa.gov'

jtwc:
  host: 'https://www.metoc.navy.mil'

firms:
  host: 'https://firms.modaps.eosdis.nasa.gov/data/active_fire'
  modis: '/modis-c6.1/csv/MODIS_C6_1_Global_24h.csv'
  suomi: '/suomi-npp-viirs-c2/csv/SUOMI_VIIRS_C2_Global_24h.csv'
  noaa: '/noaa-20-viirs-c2/csv/J1_VIIRS_C2_Global_24h.csv'

scheduler:
  hpSrvImport:
    enable: false
    initialDelay: 1000
  hpSrvMagsImport:
    enable: false
    initialDelay: 10000
    fixedDelay: 600000
  pdcMapSrvSearch:
    enable: false
    initialDelay: 1000
    fixedDelay: 60000
  gdacsImport:
    enable: true
    cron: 0 1/5 * * * * # every five minutes after hh:01:00
  firmsModisImport:
    enable: false
    initialDelay: 1000
    fixedDelay: 3600000
  firmsNoaaImport:
    enable: false
    initialDelay: 1000
    fixedDelay: 3600000
  firmsSuomiImport:
    enable: false
    initialDelay: 1000
    fixedDelay: 3600000
  emDatImport:
    enable: false
    initialDelay: 1000
    fixedDelay: PT3H # every 3 hours
  staticImport:
    enable: false
    initialDelay: 1000
  stormsNoaaImport:
    enable: true
    initialDelay: 1000
    fixedDelay: P1D # every day
  tornadoJapanMaImport:
    enable: false
    initialDelay: 1000
    fixedDelay: P1D
  historicalTornadoJapanMaImport:
    enable: false
    initialDelay: 1000
  calfireSearch:
    enable: true
    initialDelay: 1000
    fixedDelay: 3600000
  nifcImport:
    enable: true
    initialDelay: 1000
    fixedDelay: 300000
  inciwebImport:
    enable: false
    initialDelay: 1000
    fixedDelay: 300000
  humanitarianCrisisImport:
    enable: false
    initialDelay: 1000
    fixedDelay: PT12H # every 12 hours
  nhcAtImport:
    enable: true
    initialDelay: 1000
    fixedDelay: 1800000
  nhcCpImport:
    enable: true
    initialDelay: 1000
    fixedDelay: 1800000
  nhcEpImport:
    enable: true
    initialDelay: 1000
    fixedDelay: 1800000
  jtwcImport:
    enable: false
    initialDelay: 1000
    fixedDelay: 1800000
  normalization:
    enable: true
    initialDelay: 1000
    fixedDelay: 1000
    providers: gdacsAlert, gdacsAlertGeometry, kontur.events, em-dat, tornado.canada-gov,
      tornado.australian-bm, tornado.osm-wiki, tornado.des-inventar-sendai, storms.noaa, wildfire.frap.cal,
      wildfire.sa-gov, wildfire.qld-des-gov, wildfire.victoria-gov, wildfire.nsw-gov, wildfire.calfire,
      wildfire.perimeters.nifc, wildfire.locations.nifc, cyclones.nhc-at.noaa, cyclones.nhc-ep.noaa, cyclones.nhc-cp.noaa,
      pdcSqs, pdcMapSrv, pdcSqsNasa, pdcMapSrvNasa
  eventCombination:
    enable: true
    initialDelay: 1000
    fixedDelay: 1000
    providers: gdacsAlert, gdacsAlertGeometry, kontur.events, em-dat, tornado.canada-gov,
      tornado.australian-bm, tornado.osm-wiki, tornado.des-inventar-sendai, storms.noaa, wildfire.frap.cal,
      wildfire.sa-gov, wildfire.qld-des-gov, wildfire.victoria-gov, wildfire.nsw-gov, wildfire.calfire,
      wildfire.perimeters.nifc, wildfire.locations.nifc, cyclones.nhc-at.noaa, cyclones.nhc-ep.noaa, cyclones.nhc-cp.noaa,
      pdcSqs, pdcMapSrv, pdcSqsNasa, pdcMapSrvNasa
  feedComposition:
    enable: true
    initialDelay: 1000
    fixedDelay: 1000
    alias: kontur-public, kontur-private, pdc, wildfires, micglobal
  enrichment:
    enable: false
    initialDelay: 1000
    fixedDelay: 1000
  reEnrichment:
    enable: false
    initialDelay: 1000
    fixedDelay: 10000
  metrics:
    enable: true
    initialDelay: 1000
    fixedDelay: 15000
  eventExpiration:
    enable: true
    initialDelay: 1000
    fixedDelay: PT3H


feign:
  client:
    config:
      default:
        connectTimeout: 60000
        readTimeout: 60000
        loggerLevel: headers
      longKonturAppsClient:
        connectTimeout: 600000
        readTimeout: 600000

mybatis:
  mapper-locations: classpath:db/mappers/*Mapper.xml
  type-handlers-package: io.kontur.eventapi.typehandler

springdoc:
  swagger-ui:
    path: 'doc'
    disable-swagger-default-url: true

aws:
  sqs:
    enabled: false
    url: https://sqs.us-west-1.amazonaws.com/001426858141/SNS_messages_from_pdc-test-publiccloud-sns.fifo
    dlqUrl: https://sqs.us-west-1.amazonaws.com/001426858141/SNS_messages_from_pdc-test-publiccloud-sns_DLQ.fifo

management:
  metrics:
    export:
      simple:
        enabled: false
  health:
    ping:
      enabled: false
    diskspace:
      enabled: false
    refresh:
      enabled: false
  info:
    build:
      enabled: true
    java:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
      status:
        http-mapping:
          down: 200
      cache:
        time-to-live: 10s
      show-details: always
      show-components: always
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
      base-path: /
      path-mapping:
        prometheus: metrics

sentry:
  dsn: https://fixme@dsn.ingest.sentry.io/project-id
  # Set traces-sample-rate to 1.0 to capture 100% of transactions for performance monitoring.
  # We recommend adjusting this value in production.
  traces-sample-rate: 1.0
